.service {
    background-color: black;
    box-shadow: 6px 8px 20px #0000004d;
    border-radius: 5px;
}

.service h5 {
    color: white;
}

.service p {
    font-size: 12px;
    color: white;
}

.service a {
    background-color: white;
}